apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    deployment.kubernetes.io/revision: "3"
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apps/v1","kind":"Deployment","metadata":{"annotations":{},"name":"redpanda-connect-deployment","namespace":"mperezco"},"spec":{"replicas":1,"selector":{"matchLabels":{"app":"redpanda-connect"}},"template":{"metadata":{"labels":{"app":"redpanda-connect"}},"spec":{"containers":[{"env":[{"name":"BOOTSTRAP_SERVERS","value":"redpanda-bootstrap:9092"},{"name":"GROUP_ID","value":"connect-cluster-group"},{"name":"CONFIG_STORAGE_TOPIC","value":"connect-configs"},{"name":"OFFSET_STORAGE_TOPIC","value":"connect-offsets"},{"name":"STATUS_STORAGE_TOPIC","value":"connect-status"},{"name":"CONNECT_REST_ADVERTISED_HOST_NAME","value":"redpanda-connect-deployment"}],"image":"quay.io/debezium/connect:latest","name":"connect","ports":[{"containerPort":8083}]}]}}}}
  creationTimestamp: "2025-12-02T13:47:24Z"
  generation: 3
  name: redpanda-connect-deployment
  namespace: mperezco
  resourceVersion: "167728"
  uid: 5af5f550-0cdc-4240-b65e-cc2ba3fe1d21
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: redpanda-connect
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: redpanda-connect
    spec:
      containers:
      - env:
        - name: BOOTSTRAP_SERVERS
          value: redpanda-bootstrap:9092
        - name: GROUP_ID
          value: connect-cluster-group
        - name: CONFIG_STORAGE_TOPIC
          value: connect-configs
        - name: OFFSET_STORAGE_TOPIC
          value: connect-offsets
        - name: STATUS_STORAGE_TOPIC
          value: connect-status
        - name: CONNECT_REST_ADVERTISED_HOST_NAME
          value: redpanda-connect-deployment
        image: quay.io/debezium/connect:latest
        imagePullPolicy: Always
        name: connect
        ports:
        - containerPort: 8083
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
status:
  availableReplicas: 1
  conditions:
  - lastTransitionTime: "2025-12-02T13:59:53Z"
    lastUpdateTime: "2025-12-02T13:59:53Z"
    message: Deployment has minimum availability.
    reason: MinimumReplicasAvailable
    status: "True"
    type: Available
  - lastTransitionTime: "2025-12-02T13:47:24Z"
    lastUpdateTime: "2025-12-02T13:59:53Z"
    message: ReplicaSet "redpanda-connect-deployment-746cbfd45d" has successfully
      progressed.
    reason: NewReplicaSetAvailable
    status: "True"
    type: Progressing
  observedGeneration: 3
  readyReplicas: 1
  replicas: 1
  updatedReplicas: 1
