spring.application.name: mapeados
server:
  port: 8092

spring:

  mongodb:
    uri: mongodb://localhost:27017/mapeados

  cloud:
    function:
      definition: procesarMiTopico # Debe coincidir con el nombre del método @Bean
    stream:
      bindings:
        procesarMiTopico-in-0:
          destination: nombre-del-topico-kafka # El mismo tópico que usaste para enviar
          group: mi-grupo-consumidor # Importante: Define el Grupo de Consumo de Kafka
        miTopicoSalida-out-0:
          destination: nombre-del-topico-kafka # El nombre real de tu tópico
      kafka:
        binder:
          brokers: localhost:9092 # O la dirección de tu broker
          configuration:
            key.serializer: org.apache.kafka.common.serialization.StringSerializer
            value.serializer: org.springframework.kafka.support.serializer.JsonSerializer
